.continue-button{
    background-color: rgb(247, 186, 55);
    border: 1px solid rgb(247, 186, 55);
    margin-bottom: 5px;
    width: 100%;
    padding: 4px;
}

.login-btn{
    background-color: rgb(52, 87, 245);
    border: 1px solid rgb(52, 87, 245);
    width: 100%;
    padding: 4px;
}

.login-btn a{
    text-decoration: none;
    color: white;
}