.book-order form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.book-order form input{
    width: 40%;
    border-radius: 5px;
    border: 1px solid grey;
    margin: 8px;
    padding: 10px;
}

.book-order form .btn{
    background-color: rgba(163, 93, 93, 0.863);
    border: 1px solid rgba(163, 93, 93, 0.863);
    padding: 5px;
    color: honeydew;
}