.newsletter{
    width: 75%;
    margin: auto;
    background-color: rgb(250, 247, 235);
    padding: 40px;
}

.newsletter .text-area{
    padding: 10px;
}
.button{
    width: 100%;
    background-color: rgb(187, 161, 128);
    border: 1px solid rgb(187, 161, 128);
    padding: 10px 20px;
    margin-left: 2px;
}

.button:hover{
    background-color: rgb(117, 115, 115);
    border: 1px solid rgb(117, 115, 115);
}